#header-top a {
	color: #84388c;
	font-family:'Roboto-Medium';
	font-size: 14px;
}
#header-top .nav-link {
	display: block;
	padding: 10px 5px;
}
#header {
	background: #84388c;
	padding-top: 30px;
	padding-bottom: 30px;
}
#header .nav {
	margin-top: 30px;
}
#header a.nav-link {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	font-family:'Roboto-Medium';
}
#header a.active {
	background: #70c5cc;
}